html {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
body {
    font-family: "Poppins", sans-serif;
    max-width: 640px;
    padding: 0;
    margin: 0;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.banner-sale img {
    width: 100%;
    object-fit: cover;
    position: sticky;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 100;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #f7f7f7;
    padding: 30px 0;
}

p {
    font-size: 18px;
    color: #393e46;
}
h2 {
    color: #393e46;
    font-size: 28px;
    margin-bottom: -3px;
}
h4 {
    font-size: 20px;
    color: #393e46;
}

header .buttonHero {
    margin-top: 50px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 0;
}

.hero h1 {
    color: #393e46;
    font-size: 38px;
    margin: -3px 0;
    padding-bottom: 25px;
    padding-top: 0;
}
.hero h2 {
    font-weight: 500;
    margin-top: -30px;
}
.hero p {
    margin-bottom: 80px;
}

.buttonHero {
    border: 2px solid #393e46;
    width: 150px;
    height: 40px;

    color: #393e46;
    background-color: #f7f7f7;
}
.buttonHero:hover {
    color: #f7f7f7;
    background-color: #393e46;
}
.subTitle {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.cardProduct {
    width: 250px;
    padding: 20px;
    border: 2px solid #393e46;
    border-radius: 15px;
    text-align: center;
    background-color: #f7f7f7;
}

.stockInfo {
    font-size: 13px;
    color: greenyellow;
    background-color: #393e46;
    border-radius: 5px;
    margin-bottom: -10px;
}

.stockInfoSisa {
    font-size: 13px;
    color: rgb(255, 174, 0);
    background-color: #393e46;
    border-radius: 5px;
    margin-bottom: -10px;
}

.stockHabis {
    font-size: 13px;
    color: rgb(255, 0, 13);
    background-color: #393e46;
    border-radius: 5px;
    margin-bottom: -10px;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -3px;
}
img {
    width: 250px;
    object-fit: cover;
}

button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #393e46;
    color: #393e46;
    background-color: #f7f7f7;
    border-radius: 5px;
}

button:hover {
    color: #f7f7f7;
    background-color: #393e46;
}

.delivery {
    margin-left: 20px;
}

footer {
    text-align: center;
    background-color: #393e46;
    color: #f7f7f7;
    padding: 20px;
    margin-top: 80px;
}
footer p {
    color: #f7f7f7;
    font-size: 15px;
}
footer span {
    opacity: 50%;
    font-size: 12px;
    font-weight: 200;
}
